.table {
  display: none;
}

body {
  font-family: 'Luckiest Guy', cursive;
  background-color: red;
  color: yellow;
}

h1 {
  text-align: center;
}

.btn {
  background-color: black;
}

.btn1 {
  background-color: black;
  display: none;
}

p {
  display: none;
}
